<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список читателей</title>
</head>
<body>

<h3>Читатели библиотеки</h3>

<div th:each="person :${people}">
    <a th:href="@{/library/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getBirthYear()}">person</a>
</div>

</br>
</hr>

<a th:href="@{/library/people/new}">Добавить человека</a>

</br>
<a th:href="@{/library}"><- Назад в библиотеку</a>

</body>
</html>