@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
body {
    background: url('../images/reader.jpg') center no-repeat;
    background-size: cover;

    font-size: 22px;
    font-weight: 200;
    color: #fcf4f4;

    font-family: 'Montserrat', 'Raleway', sans-serif;
}

h3 {
    font-weight: 500;
}

.container {
    width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    display: inline-block;
    vertical-align: top;
    horiz-align: right;
    margin: 0 50px 40px 0;

    color: deeppink;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.2s linear;
}

.link:hover {
    color: #000;
}

.per_link {
    color: #fcf4f4;
    text-decoration: none;

    transition: color 0.2s linear;
}

.per_link:hover {
    color: deeppink;
}

.add {
    color: #00ffb9;
    text-decoration: none;
    margin: auto auto 100px auto;

    transition: color 0.2s linear;
}

.add:hover {
    color: #036248;
}